/*
	_content.css
*/

.ls-icon{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.advantage-1{
	background-image: url('../img/icons/advantage-1.png');
	width: 50px;
	height: 50px;
}
.advantage-2{
	background-image: url('../img/icons/advantage-2.png');
	width: 50px;
	height: 49px;
}
.advantage-3{
	background-image: url('../img/icons/advantage-3.png');
	width: 50px;
	height: 50px;
}
.advantage-4{
	background-image: url('../img/icons/advantage-4.png');
	width: 50px;
	height: 39px;
}
.advantage-5{
	background-image: url('../img/icons/advantage-5.png');
	width: 50px;
	height: 49px;
}


.fa-star{
	color: $color-gray-1;
	&.fill{
		color: $color-1;
	}
}


.bnr-entry{
	color: white;
	.align-i-center{
		background-size: cover;
		
	}

	h1{
		padding-left: 15px;
		border-left: 5px solid;
	}
	@media (min-width: 992px) {
		.align-i-center{
			height: 215px;
		}
		h1{
			width: 80%;
		}
	}
	@media (max-width: 991px) {
		.container{
			width: 100%;
		}
	}
}





.drop-sub{
	position: relative;
	.drop-sub-box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(12px);
		transition: 
							transform 0.3s ease-in-out,
							visibility 0.3s ease-in-out,
							opacity 0.3s ease-in-out
							;
		position: absolute;
		z-index: 1;
	}
	&:hover{
		.drop-sub-box{
			opacity: 1;
			transform: inherit;
			visibility: visible;
			transition: 
				transform 0.3s ease-in-out,
				visibility 0.3s ease-in-out,
				opacity 0.3s ease-in-out
		}
	}
}


.bg-shadow{
	pointer-events: none;
}

//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	.carousel-items{
		@media (min-width: 992px) {
			figure{
				opacity: 0.3;
				transition: 0.2s;
				&:hover{
					opacity: 1;
				}
			}
		}
	}	
}



.entry-header{
	p{
		line-height: 170%;
	}
	a{
		color: lighten($color-1, 5%);
	}
}



.bnr-carousel{
	$slider-height: 1080px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;

	.carousel-items figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	h1, p, .btn-def, img{
		opacity: 0;
		transition: 1s ease;
	}
	h1{
		font-size: em(80, 16);
		border-left: 0;
		padding-left: 0;
		transform: translateY(-20px);
		&:after{
			width: 70px !important;
		}
	}
	p, img{
		transform: translateY(20px);	
	}
	p{
		font-family: $font-family-2;
	}
	.text-content{
		position: relative;
		.wrapper{
			&:before{
				@extend .clafclear;
				pointer-events: none;
				background-color: $color-1;
				width: 50px;
				height: 50px;
				clip-path: polygon(0 0, 0% 100%, 100% 0);
				left: -10px;
			}
		}
	}
	.btn-def{
		transform: scale(1.3);
	}
	.is-selected{
		h1, p, .btn-def, img{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    @extend .container;
    @extend .trans-h-center;
    z-index: 1;
    position: absolute;
    top: auto !important;
    bottom: 260px;
    @media (max-width:991px) {
    	width: 90%;
    }
		// Стрелки
		.flickity-prev-next-button{
			&.previous{
				left: auto;
				right: 85px;
			}
		}
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
	}

	@media (min-width: 991px) {
		p{
			width: 60%;
		}
	}
	.bg-shadow{
		background-color: rgba(#093872, 0.6);
	}

	//Навигация
	.flickity-page-dots{
		@extend .container;
		@extend .trans-center;
		
		//width: 150px;
		//right: 0;
		margin-bottom: 60px;
		text-align: left;
		padding-left: 30px;
		padding-right: 30px;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			width: 100px;
			margin: 15px 0 15px auto;
    	border-radius: 0;
    	border: none;
    	counter-increment: carousel-cell;
    	display: block;
    	&:before{
    		color: rgba(white, 0.4);
    		white-space: nowrap;
			  display: block;
			  text-align: right;
			  content: "—  0"counter(carousel-cell) ;
			  line-height: 20px;
			  font-size: 16px;
    	}
    	&.is-selected{
    		background-color: transparent;
    		&:before{
    			color: $color-1;
    		}
    	}
		}
	}

	@media (max-width: 991px) {
		font-size: 0.9em;
		.carousel-content{
			.align-i-center{
				height: 90vh;
			}
		}
		figure{
			height: calc(100vh - 70px);
			.img{
				height: calc(100vh - 70px);
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}
}




//advantages
.advantages{
	z-index: 121;
  @extend .trans-h-center;
	position: absolute;
  bottom: 0 !important;
  pointer-events: none;
  height: 160px;
  color: white;
}
.advantages-items{
	.wrapper{
		display: flex;
		align-items: center;
	}
	.img-content{
		margin-right: 15px;
	}
}














.short-about{
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 200px 0;
	.entry-header{
		position: relative;
		h1{
			padding-bottom: 60px;
		}
		.split-text{
			color: $color-1;
			right: 0;
			position: absolute;
			top: 40px;
			font-weight: 600;
		}
	}
	.text-content{
		font-family: $font-family-2;
	}
}
.short-about-content{
	&:before{
		@extend .clafclear;
		background-color: white;
		height: 100%;
		width: calc(100vw + 1170px / 2);
	//transform: translateX(-50%);
		left: -100vw;
		box-shadow: 0 0 90px 0 rgba(black, 0.3);
	}
}