@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?usywmz');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?usywmz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?usywmz') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?usywmz') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?usywmz##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-address .path1 {
  &:before {
    content: $icm-address-path1;  
    color: rgb(255, 205, 42);
  }
}
.icm-address .path2 {
  &:before {
    content: $icm-address-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icm-address .path3 {
  &:before {
    content: $icm-address-path3;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-address .path4 {
  &:before {
    content: $icm-address-path4;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-calendar-with-a-clock-time-tools {
  &:before {
    content: $icm-calendar-with-a-clock-time-tools; 
  }
}
.icm-call-answer {
  &:before {
    content: $icm-call-answer; 
  }
}
.icm-contract {
  &:before {
    content: $icm-contract; 
  }
}
.icm-down-arrow {
  &:before {
    content: $icm-down-arrow; 
  }
}
.icm-envelope-shape {
  &:before {
    content: $icm-envelope-shape; 
  }
}
.icm-left-arrow {
  &:before {
    content: $icm-left-arrow; 
  }
}
.icm-project-management .path1 {
  &:before {
    content: $icm-project-management-path1;  
    color: rgb(255, 255, 255);
  }
}
.icm-project-management .path2 {
  &:before {
    content: $icm-project-management-path2;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path3 {
  &:before {
    content: $icm-project-management-path3;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path4 {
  &:before {
    content: $icm-project-management-path4;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path5 {
  &:before {
    content: $icm-project-management-path5;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path6 {
  &:before {
    content: $icm-project-management-path6;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path7 {
  &:before {
    content: $icm-project-management-path7;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path8 {
  &:before {
    content: $icm-project-management-path8;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path9 {
  &:before {
    content: $icm-project-management-path9;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-project-management .path10 {
  &:before {
    content: $icm-project-management-path10;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-team {
  &:before {
    content: $icm-team; 
  }
}
.icm-three-buildings {
  &:before {
    content: $icm-three-buildings; 
  }
}
.icm-trailer .path1 {
  &:before {
    content: $icm-trailer-path1;  
    color: rgb(255, 205, 42);
  }
}
.icm-trailer .path2 {
  &:before {
    content: $icm-trailer-path2;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-trailer .path3 {
  &:before {
    content: $icm-trailer-path3;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-trailer .path4 {
  &:before {
    content: $icm-trailer-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icm-trailer .path5 {
  &:before {
    content: $icm-trailer-path5;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-user-silhouette {
  &:before {
    content: $icm-user-silhouette; 
  }
}
.icm-world .path1 {
  &:before {
    content: $icm-world-path1;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path2 {
  &:before {
    content: $icm-world-path2;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path3 {
  &:before {
    content: $icm-world-path3;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path4 {
  &:before {
    content: $icm-world-path4;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path5 {
  &:before {
    content: $icm-world-path5;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path6 {
  &:before {
    content: $icm-world-path6;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path7 {
  &:before {
    content: $icm-world-path7;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path8 {
  &:before {
    content: $icm-world-path8;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path9 {
  &:before {
    content: $icm-world-path9;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path10 {
  &:before {
    content: $icm-world-path10;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path11 {
  &:before {
    content: $icm-world-path11;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path12 {
  &:before {
    content: $icm-world-path12;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path13 {
  &:before {
    content: $icm-world-path13;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path14 {
  &:before {
    content: $icm-world-path14;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path15 {
  &:before {
    content: $icm-world-path15;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path16 {
  &:before {
    content: $icm-world-path16;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icm-world .path17 {
  &:before {
    content: $icm-world-path17;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path18 {
  &:before {
    content: $icm-world-path18;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path19 {
  &:before {
    content: $icm-world-path19;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path20 {
  &:before {
    content: $icm-world-path20;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path21 {
  &:before {
    content: $icm-world-path21;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path22 {
  &:before {
    content: $icm-world-path22;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}
.icm-world .path23 {
  &:before {
    content: $icm-world-path23;  
    margin-left: -1em;  
    color: rgb(255, 205, 42);
  }
}

