$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-address-path1: "\e906";
$icm-address-path2: "\e907";
$icm-address-path3: "\e908";
$icm-address-path4: "\e909";
$icm-calendar-with-a-clock-time-tools: "\e900";
$icm-call-answer: "\e901";
$icm-contract: "\e902";
$icm-down-arrow: "\e903";
$icm-envelope-shape: "\e904";
$icm-left-arrow: "\e905";
$icm-project-management-path1: "\e90d";
$icm-project-management-path2: "\e90e";
$icm-project-management-path3: "\e90f";
$icm-project-management-path4: "\e910";
$icm-project-management-path5: "\e911";
$icm-project-management-path6: "\e912";
$icm-project-management-path7: "\e913";
$icm-project-management-path8: "\e914";
$icm-project-management-path9: "\e915";
$icm-project-management-path10: "\e916";
$icm-team: "\e917";
$icm-three-buildings: "\e918";
$icm-trailer-path1: "\e919";
$icm-trailer-path2: "\e91a";
$icm-trailer-path3: "\e91b";
$icm-trailer-path4: "\e91c";
$icm-trailer-path5: "\e91d";
$icm-user-silhouette: "\e91e";
$icm-world-path1: "\e91f";
$icm-world-path2: "\e920";
$icm-world-path3: "\e921";
$icm-world-path4: "\e922";
$icm-world-path5: "\e923";
$icm-world-path6: "\e924";
$icm-world-path7: "\e925";
$icm-world-path8: "\e926";
$icm-world-path9: "\e927";
$icm-world-path10: "\e928";
$icm-world-path11: "\e929";
$icm-world-path12: "\e92a";
$icm-world-path13: "\e92b";
$icm-world-path14: "\e92c";
$icm-world-path15: "\e92d";
$icm-world-path16: "\e92e";
$icm-world-path17: "\e92f";
$icm-world-path18: "\e930";
$icm-world-path19: "\e931";
$icm-world-path20: "\e932";
$icm-world-path21: "\e933";
$icm-world-path22: "\e934";
$icm-world-path23: "\e935";

